/* version: 1.0.0 */
/* require: none */

/* .slider
---------------------------------------------*/
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider .main {
  width: 900px;
  max-width: 100%;
  height: 550px;
  position: relative;
  margin: 0 auto;
  z-index: 1000;
}

/* images */
.slider .images {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .images img {
  display: block;
}
.slider .images ul {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -125px;
  /*margin-top: -62.5px;*/
}
.slider .images li {
  position: absolute;
  top: 0;
  left: 0;
}
.slider .images li a {
  display: block;
  pointer-events: none;
}
.slider .images li.center {
  z-index: 1000;
}
.slider .images li.center a {
  pointer-events: auto;
}

/* cover_flow */
.slider .cover_flow .images {
  -webkit-perspective: 400px;
     -moz-perspective: 400px;
       -o-perspective: 400px;
      -ms-perspective: 400px;
          perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
     -moz-perspective-origin: 50% 50%;
       -o-perspective-origin: 50% 50%;
      -ms-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}
.slider .cover_flow .images ul {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.slider .cover_flow .images li {
  -webkit-transform: rotateY(65deg) scale(0.7);
     -moz-transform: rotateY(65deg) scale(0.7);
       -o-transform: rotateY(65deg) scale(0.7);
      -ms-transform: rotateY(65deg) scale(0.7);
          transform: rotateY(65deg) scale(0.7);
}

.slider .cover_flow .images li.center ~ li{
  -webkit-transform: rotateY(-65deg) scale(0.7);
     -moz-transform: rotateY(-65deg) scale(0.7);
       -o-transform: rotateY(-65deg) scale(0.7);
      -ms-transform: rotateY(-65deg) scale(0.7);
          transform: rotateY(-65deg) scale(0.7);
}
.slider .cover_flow .images li.center {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
       -o-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* bullet */
.bullet {
  position: absolute;
  bottom: 50px;
  left: 50%;
}
.bullet ul {
  overflow: hidden;
  margin-left: -20px;
  margin-top: -20px;
  *zoom: 1;
}
.bullet ul:after {
  content: ".";
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
}
.bullet li {
  float: left;
  width: 20px;
  height: 20px;
  background: #dcdedf;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.bullet li.current {
  background: #555;
  color: #fff;
}

/* loading */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}
.loading .progress {
  width: 0;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  background: #555;
}

/* other parts */
.slider .mask_left,
.slider .mask_right,
.slider .next,
.slider .prev {
  position: absolute;
}
.slider .next{
  top: 50%;
  right: -50px;
  margin-top: -25px;
}
.slider .prev {
  top: 50%;
  left: -50px;
  margin-top: -25px;
}
.slider .next a,
.slider .prev a  {
  width: 50px;
  height: 50px;
  background: #dcdedf;
  color: #555;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.slider .mask_left,
.slider .mask_right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.slider .mask_left {
  left: -100%;
}
.slider .mask_right {
  right: -100%;
}